.theme-light {
    --color-primary: #0060df;
    --color-secondary: #fbfbfe;
    --color-accent: #AEB6BF;
    --font-color: #000000;
    --color-body: grey;
}
.theme-dark {
    --color-primary: #17ed90;
    --color-secondary: #243133;
    --color-accent: #AEB6BF;
    --font-color: #ffffff;
    --color-body: grey;
}

html, body {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    color: var(--font-color) !important;
    background: var(--color-body) !important;
}

.navbar {
    border-bottom: var(--font-color);
    box-shadow: 5px 5px 5px var(--color-accent);
    background: var(--color-secondary);
}

.navbar-light .navbar-brand {
    color: var(--font-color) !important;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--font-color) !important;
}

.cont {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border: 10px thick black;
    background: var(--color-secondary);
    box-shadow: 5px 5px 5px var(--color-accent);
}

.cont button {
    color: var(--font-color);
    background: var(--color-primary);
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
}

h4 {
    font-size: small !important;
}

#footer {
    text-align: center;
    font-size: smaller;
    padding-top: 7px;
}

#carouselIndicators {
  padding-bottom: 7px;
}

.carousel-item {
  object-fit: cover !important;
}

a {
    color: var(--font-color) !important;
}

img {
   position: relative;
   width: 100%; 
   height: auto;
   margin: 7px;
}

.icon {
    height: 20px !important;
    width: 20px !important;
}

.thumbnail {
    padding: 10px;
    margin: auto;
}

.about-links {
    margin: auto;
    text-align: center;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
  
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url('https://i.ibb.co/FxzBYR9/night.png');
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Carousel Fade */
.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: .6s;
  transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

iframe {
  border: 1px solid black;
  width: 100%;
}