{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} The Goodest Guys Presents: Ourselves! {% endblock %}</h1>

    <div class="row">
        <div class="col-md-6">
          <div class="thumbnail">
            <a href="../static/Images/1.png">
              <img src="../static/Images/1.png" alt="Elisa Headshot">
              <div class="caption">
                <p>
                  Elisa Gipe is a Solutions Engineer at RSA Archer, serving as a pre-sales consultant 
                  for integrated risk management customers and a recent graduate from a 6-month data 
                  visualization bootcamp hosted by UCSD. Following the program, she is planning to 
                  deepen her python skills.
                </p>
              </div>
            </a>
            <div class="about-links">
                <a href="https://www.linkedin.com/in/elisa-gipe-96785642/">LinkedIn</a>
                <a href="https://github.com/egipe">Github</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="thumbnail">
            <a href="../static/Images/4.png">
              <img src="../static/Images/4.png" alt="Drew Headshot">
              <div class="caption">
                <p>Drew is a Financial Analyst at Viasat, where he works on revenue forecasting while he's 
                  not writing his memoir on swapping out Excel workflows for Pandas ones. Interests include 
                  data engineering, Nicaraguan cigars, and hanging out with his wife and kids. His dream job 
                  involves writing algorithms to better predict fantasy football scores.
                </p>
              </div>
            </a>
            <div class="about-links">
                <a href="https://www.linkedin.com/in/drewpgilmore/">LinkedIn</a>
                <a href="https://github.com/drewpgilmore">Github</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="thumbnail">
            <a href="../static/Images/3.png">
              <img src="../static/Images/3.png" alt="Jay Headshot">
              <div class="caption">
                <p>Jay Sueno is the Co-Founder of MamaP (https://mamap.life) and is the Chief Community 
                  Officer and Head of Data Analytics. He is passionate about technology and how artificial 
                  intelligence and how machine learning can solve some of the world's most challenging 
                  problems. He's an avid surfer and environmentalist based in San Diego, California.
                </p>
              </div>
            </a>
            <div class="about-links">
                <a href="https://www.linkedin.com/in/jaysueno/">LinkedIn</a>
                <a href="https://github.com/jaysueno">Github</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
              <a href="../static/Images/2.png">
                <img src="../static/Images/2.png" alt="Patrick Headshot">
                <div class="caption">
                    <p>Programmer. Writer. Roleplayer. Nerd. Patrick is many things and he kicks all the butts
                      while doing them. Never afraid to fail. Never afraid to stand. And always he abides.
                    </p>
                </div>
            </a>
            <div class="about-links">
                <a href="https://www.linkedin.com/in/patrick-plaisted-62aab982/">LinkedIn</a>
                <a href="https://github.com/Gnosder">Github</a>
            </div>
            </div>
        </div>
    </div>
{% endblock %}