{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} The Goodest Guys Presents: Ourselves! {% endblock %}</h1>

    <div class="row">
        <div class="col-md-6">
          <div class="thumbnail">
            <a href="../static/Images/headshot.png">
              <img src="../static/Images/headshot.png" alt="Elisa Headshot">
              <div class="caption">
                <p>The badass in the power[suit].
                </p>
              </div>
            </a>
            <div class="about-links">
                <a href="#">LinkedIn</a>
                <a href="#">Github</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="thumbnail">
            <a href="../static/Images/rsz_2drewg.jpg">
              <img src="../static/Images/rsz_2drewg.jpg" alt="Drew Headshot">
              <div class="caption">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </a>
            <div class="about-links">
                <a href="#">LinkedIn</a>
                <a href="#">Github</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="thumbnail">
            <a href="../static/Images/jay_sueno.jpg">
              <img src="../static/Images/jay_sueno.jpg" alt="Jay Headshot">
              <div class="caption">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </a>
            <div class="about-links">
                <a href="#">LinkedIn</a>
                <a href="#">Github</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
              <a href="../static/Images/Patrick_Funny.png">
                <img src="../static/Images/Patrick_Funny.png" alt="Patrick Headshot">
                <div class="caption">
                    <p>Programmer. Writer. Roleplayer. Nerd. Patrick is many things and he kicks all the butts
                      while doing them. Never afraid to fail. Never afraid to stand. And always he abides.
                    </p>
                </div>
            </a>
            <div class="about-links">
                <a href="https://www.linkedin.com/in/patrick-plaisted-62aab982/">LinkedIn</a>
                <a href="https://github.com/Gnosder">Github</a>
            </div>
            </div>
        </div>
    </div>
{% endblock %}