{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} The Goodest Guys Presents: Ourselves! {% endblock %}</h1>

    <div id="about-deck" class="container">
        <div class="row">
            <div class="about-deck col-sm-12 col-lg-6 box-shadow">
                <p>Elisa</p>
                <img src="../static/Images/headshot.png" alt="Elisa Headshot">
                <div class="card-body">
                    <p>Bio</p>
                    <a href="#">Portfolio</a>
                    <a href="#">Github</a>
                    <a href="#">LinkedIn</a>
                </div>
            </div>
            <div class="about-deck col-sm-12 col-lg-6 box-shadow">
                <p>Drew</p>
                <img src="../static/Images/300px-Buddy_christ.jpg" alt="Drew Headshot">
                <div class="card-body">
                    <p>Bio</p>
                    <a href="#">Portfolio</a>
                    <a href="#">Github</a>
                    <a href="#">LinkedIn</a>
                </div>
            </div>
            <div class="about-deck col-sm-12 col-lg-6 box-shadow">
                <p>Jay</p>
                <img src="../static/Images/jay_sueno.jpg" alt="Jay Headshot">
                <div class="card-body">
                    <p>Bio</p>
                    <a href="#">Portfolio</a>
                    <a href="#">Github</a>
                    <a href="#">LinkedIn</a>
                </div>
            </div>
            <div class="about-deck col-sm-12 col-lg-6 box-shadow">
                <p>Patrick</p>
                <img src="../static/Images/Patrick_Funny.png" alt="Patrick Headshot">
                <div class="card-body">
                    <p>Bio</p>
                    <a href="#">Portfolio</a>
                    <a href="#">Github</a>
                    <a href="#">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}