{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}  Trump Tweet Analysis {% endblock %}</h1>
    <h5 style="text-align: center;">A look at President Trump’s Tweet Sentiment and how it affects the S&P 500.</h5>
    <div id="carouselIndicators" class="carousel slide carousel-fade" data-ride="carousel"  data-pause="hover">
        <ol class="carousel-indicators">
          <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselIndicators" data-slide-to="1"></li>
          <li data-target="#carouselIndicators" data-slide-to="2"></li>
          <li data-target="#carouselIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" style="width: 750px;height: 420px;">
            <div class="carousel-item active">
                <a href="#">
                    <img class="d-block w-100 img-fluid" src="../static/Images/trump_twitter_scroller.jpg" alt="Home Slide">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{ url_for('project')}}">
                    <img class="d-block w-100 img-fluid" src="../static/Images/0.jpg" alt="Project Slide">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{ url_for('ml')}}">
                    <img class="d-block w-100 img-fluid" src="../static/Images/methodology definition.jpg" alt="Write up Slide">
                </a>
                <div class="carousel-caption d-none d-md-block" style="text-align: left;top: 50%;">
                    <h3 class="carousel-text">Methodology</h3>
                </div>
            </div>
            <div class="carousel-item">
                <a href="{{ url_for('about')}}">
                    <img class="d-block w-100 img-fluid" src="../static/Images/Untitled design (2).png" alt="About Slide">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="carousel-text">We are...</h3>
                    <h5 class="carousel-text">the champions!</h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}