{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} The Goodest Guys Present: Machine Learning! {% endblock %}</h1>
    <div class="container">
        <div class="row">
            <div class="col-7">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="col-5">
                <img src="../static/Images/300px-Buddy_christ.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <img src="../static/Images/300px-Buddy_christ.jpg">
            </div>
            <div class="col-7">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="col-5">
                <img src="../static/Images/300px-Buddy_christ.jpg">
            </div>
        </div>
    </div>
{% endblock %}