{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} The Goodest Guys Present: Our Project! {% endblock %}</h1>
    <!-- <iframe is="x-frame-bypass" src="https://public.tableau.com/profile/elisa7113#!/vizhome/CountofTweetsperDayconsideringFavoritesVolume/Sheet7?:showVizHome=no&:embed=true" 
        width="645" height="955"></iframe>
    <p>Dashboard:</p>
    <iframe is="x-frame-bypass" src="https://public.tableau.com/profile/elisa7113#!/vizhome/Summary_Dashboard1/Dashboard1?:showVizHome=no&:embed=true" 
        width="645" height="955"></iframe> -->

    <img src="../static/Images/Count of Tweets per Day considering Favorites Volume.png" width="645" height="955">
    <img src="../static/Images/avg count of tweets per day.png" width="645" height="955">
    <img src="../static/Images/tweetes by sentiment by year.png" width="645" height="955">
    <img src="../static/Images/average sentiment score vs sap.png" width="645" height="955">
    <img src="../static/Images/top 10 days on twitter by volumne.png" width="645" height="955">
{% endblock %}