{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} The Goodest Guys Present: Our Project! {% endblock %}</h1>
    <iframe is="x-frame-bypass" src="https://public.tableau.com/profile/elisa7113#!/vizhome/CountofTweetsperDayconsideringFavoritesVolume/Sheet7?:showVizHome=no&:embed=true" 
        width="645" height="955"></iframe>
    <p>Dashboard:</p>
    <iframe is="x-frame-bypass" src="https://public.tableau.com/profile/elisa7113#!/vizhome/Summary_Dashboard1/Dashboard1" 
        width="645" height="955"></iframe>
{% endblock %}