{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Trump Tweet Analysis {% endblock %}</h1>
    <h5 style="text-align: center;">A visual story. A visy.</h5>
    <div class='tableauPlaceholder' id='viz1605379922880' style='position: relative; padding-bottom: 5px;'>
        <noscript>
            <a href='#'>
                <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;su&#47;summary_story1&#47;Story1&#47;1_rss.png' style='border: none' />
            </a>
        </noscript>
        <object class='tableauViz'  style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
            <param name='embed_code_version' value='3' /> 
            <param name='site_root' value='' />
            <param name='name' value='summary_story1&#47;Story1' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='yes' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;su&#47;summary_story1&#47;Story1&#47;1.png' /> 
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='language' value='en' />
        </object>
    </div>                
    <script type='text/javascript'>
        var divElement = document.getElementById('viz1605379922880');                    
        var vizElement = divElement.getElementsByTagName('object')[0];                    
        vizElement.style.width='1016px';vizElement.style.height='991px';                    
        var scriptElement = document.createElement('script', {async:true});                    
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
        vizElement.parentNode.insertBefore(scriptElement, vizElement); 
    </script>
    <br>
    <img src="../static/Images/plotly1_bar_and_scatter.svg" class="tensix">
    <br>
    <img src="../static/Images/plotly2_negativity.svg" class="tensix">
    <br>
    <img src="../static/Images/plotly3_positivity.svg" class="tensix">
    <br>
    <img src="../static/Images/image.png"  class="tensix">
    <br>    
    <h5 style="text-align: center;">Just for fun...</h5>
    <img src="../static/Images/top 10 days on twitter by volumne.png"  class="tensix">
{% endblock %}